# === Python ===
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.ruff_cache/
.mypy_cache/
venv/
ENV/
env/

server/database/*.db
server/database/*.sqlite
server/database/*.sqlite3

*.log
server/hardware/temp_bytes/

.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

.DS_Store
Thumbs.db